@import url('https://fonts.googleapis.com/css?family=Audiowide&display=swap');

.notfound{
     width: 100%;
     min-width: calc(100vh - 60px);
}

.notfound h2{
  position: absolute;
  top: 30vh;
  left: 50%;
  margin-top: 150px;
  font-size: 4rem;
  text-transform: uppercase;
  transform: translate(-50%, -50%);
  display: block;
  font-family: Audiowide;
  text-shadow: 0px 0px 4px #12000a;
}
